html, body
{
	height: 100%;
	//background: #ECF0F1;
	background:#FFF;
   	#body
	{
		padding-top: 50px;
	}

	#whyUs
	{
		border-top: 10px #34495E solid;
	}

}

$imgKey: random(2);

$list: background, background-2;
$nth: nth($list, $imgKey);
$background-image: "/img/background/background-2.jpg";
.banner
{
	height: 100%;
	width: 100%;
	margin: 0;
    padding: 0;
}

.banner-image
{
	background: #ECF0F1;
	background: url($background-image) center/cover no-repeat;
	overflow: auto;
	height: 100%;
}

.background-white
{
	background: white;
	width: 100%;
	height: 400px;
	position: absolute;
	bottom: 0;
	opacity: 0.2;
}

.bg-overlay
{
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

.box
{
	margin-top: 5%;
}