<template>
<div>
</div>
</template>
<script>
    export default {
        name: "editGroup.vue",
        props: ["url", "dataUrl", "groupUrl", "dataGroupUrl"],
        data: function()
        {
            return {
                name: "",
                email:"",
                description: "",
                address:"",
                zip:"",
                city:""
            }
        },
        mounted() {
            let dataUrl= this.dataUrl;
            this.$emit('update:url', dataUrl);
            this.$emit("update:groupUrl", this.dataGroupUrl);
        },
        methods:{
            handle: function () {
                console.log("hello child");
                this.$emit('handleUrl')
            }
        }
    }
</script>

<style scoped>

</style>