<template>
    <div>
        <div class="row">
            <div class="col-sm-6">
                <table class="table">
                    <thead>
                    <tr>
                        <th>
                            {{ $trans.get('looll.Name') }}
                        </th>
                        <th>
                            {{ $trans.get('looll.Action') }}
                        </th>
                        <th>
                            {{ $trans.get('looll.Admin') }}
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="member in members">
                        <td>
                            <a :href="'/profiles/'+member.username">{{ member.profile.name }}</a>
                        </td>
                        <td>
                            <button class="btn btn-success"
                                    v-if="!member.pivot.accepted"
                                    :id="'acceptUser'+member.id"
                                    v-on:click="acceptUser(member, '/api/groups/'+currentGroup.id+'/users/'+member.id)"
                            >
                                {{ $trans.get('looll.Accept')}}
                            </button>
                            <button class="btn btn-danger"
                                    v-on:click="removeUser('/api/groups/'+currentGroup.id+'/users/'+member.id, member)"
                            >
                            </button>
                        </td>
                        <td>
                            <input type="checkbox"
                                   v-on:click="updateContact('/api/groups/'+currentGroup.id+'/users/'+member.id)"
                                   name="contacts[]"
                                   v-model="contacts"
                                   :disabled="contacts.length == 2 && checkMembers(member.id)" />
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-6">
                <div class="card" v-if="this.memberType === 'groups.only'">
                    <div class="card-body">
                        <div class="form-group">
                            <label>Invite A Group</label>
                            <select name="searchGroup"
                                    id="invite-group"
                                    class="form-control"
                                    v-model="groupChildId"
                            >

                                <option :value="groupItem.id"
                                        v-for="groupItem in groupsByMemberOnly">{{ groupItem.name}}</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary"
                                    v-on:click="inviteGroup('/api/groups/'+currentGroup.id+'/children')"
                            >Invite groups</button>
                        </div>
                    </div>
                </div>
                <div class="card" v-if="this.memberType === 'members.only'">
                    <div class="card-header">
                        {{ $trans.get('__JSON__.Invitation from a group')}}
                    </div>
                    <div class="card-body">
                        <table class="table" v-show="invitationShow" v-if="currentGroup.parent !== null && currentGroup.accepted_by_parent === false">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>
                                    {{ currentGroup.parent.name}}
                                </td>
                                <td>
                                    <button class="btn btn-success"
                                            v-on:click="acceptInvitation('/groups/'+currentGroup.id+'/parents')"
                                    >Accept</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</template>
<script>
    export default {
        name: "member.vue",
        props:['group', "parent", "memberType"],
        data: function () {
            return {
                members: [],
                currentGroup: null,
                contacts: [],
                groupsByMemberOnly:[],
                groupChildId:0,
                invitationShow:true,
            }
        },
        created() {
            let vm = this;

            if(this.parent !== null)
            {
                axios.get("/api/groups/"+this.parent).then(response => {
                    this.currentGroup.parent = response.data;
                });
            }


            axios.get("/api/groups/"+this.group).then(response => {
                this.currentGroup = response.data;
            });


        },
        mounted() {
           this.$nextTick(function () {
               let vm = this;

               axios.get('/api/groups/'+this.group+'/users').then(function (response) {
                   vm.members = response.data;
               });

               axios.get('/api/groups/'+this.group+'/users', {'type':'contacts'}).then(function (response) {
                   vm.contacts = response.data;
               });

               axios.get('/api/groups', {type: "members.only"}).then(function (response) {
                   vm.groupsByMemberOnly = response.data;
               })
           });
        }
    }
</script>
<style scoped>
</style>