<template>
  <div class="row">
    <div class="col-md-12">
      <ul>
        <li v-for="item in items">
          {{ item }}
        </li>
      </ul>
    </div>
  </div>
</template>
<script>
module.exports = {
  data: function () {
     return {
       items: [
           "ball",
           "hat"
       ]
     }
  }
}
</script>