.collapse-position
{
  position: absolute;
  z-index: 900;

  .well-position
  {
    position: absolute;
    z-index: 500;
    width: 177px;
    left: 74px;
    margin-bottom: 0;
    padding: 10px;
  }
}