#droparea
{
  width:100%;
  height:220px;
  border:7px dashed #ccc;
  border-radius:10px;
  vertical-align:baseline;
  margin:0 auto;
  text-align:center;
  text-shadow:1px 1px 0 #fff;

  p
  {
	margin:7px 0;
  }
  .dropareainner
  {
	margin-top:35px;
  }

  .dropfiletext
  {
    font-size:18px;
    font-weight:bold;
    color:#555;
  }

  .uploadbtn
  {
    border:1px solid #ccc;
    background-color:#f4f4f4;
    padding:2px 5px;
    margin-bottom:5px;
    border-radius:25px;
    cursor:pointer;
    font-weight:bold;
    color:#777;
  }

  .uploadbtn:hover
  {
    border-color:#777;
    color:#555;
  }

  #upload
  {
    display: none;
  }

  #err
  {
    color:#DB0000;
    padding-top:3px;
    font-size:13px;
    line-height:1.5;
  }

  /* #result style */

  .message
  {
    margin-bottom:35px;
    margin-top:30px;
    text-align:center;
    text-shadow:1px 1px 0 #fff;
    color:#777;
  }
}

#droparea.hover
{
  border-color:#777;
  background-color:#fff;
}

#photo
{
	margin-top:0px;
	.imageholder
	{
		display:inline-block;
		background:#fff;
		padding:5px;
		margin:0;
		text-align:center;
		box-shadow:0 0 4px #999;
		border:1px solid #999;
		position:relative;
		transform:scale(1) rotate(0deg);
		transition: transform 1s 0.5s ease-out;
	}
}

.image
{
	height: auto;
	width: 100%;
}
.remove-images
{
	position: absolute;
	top: 2px;
	right: 2px;
	cursor: pointer;
}
.primary-image
{
	position: absolute;
	top:2px;
	right: 20px;
	cursor: pointer;
}

.thumbnail 
{
    position: absolute;
    top: 15px;
    bottom: 0;
    left: 15px;
    right: 0;
}

.crop
{
	line-height: 0;   
   	column-count:         2;
   	column-gap:           5px;
}

.crop img
{
 	width: 100% !important;
	height: auto !important;
}

@media (max-width: 1200px) {
  #photos {
  column-count:         4;
  }
}
@media (max-width: 1000px) {
  #photos {
  column-count:         3;
  }
}
@media (max-width: 800px) {
  #photos {
  column-count:         2;
  }
}
@media (max-width: 400px) {
  #photos {
  column-count:         1;
  }
}