@import url(https://fonts.googleapis.com/css?family=Roboto:400,900italic,900,700italic,700,500italic,500,400italic,300italic,300);
.media-col
{
  height: 80px;

  margin-bottom: 20px;

  .media-default
  {
    height: 80px;

    .media-object{
      object-fit: cover;
      height: 78px;
      width: 100%;
    }
  }
}



.media-image
{
  width: 74px;
  height: 78px;
}

.media-body-position
{
  position: relative;
}

.media-plus
{
  position: absolute;
  right: 4px;
  top: 0;
  margin-bottom: 0;
}

.media-panel
{
  max-height: 64px;

  h5
  {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 1px;
  }

  p
  {
    margin: 0;
  }
}