.profile {
  &__image-container
  {
    width: 120px; // the same width and height as for the <img>
    height: 120px;
    &.compat-object-fit {
      background-size: cover;
      background-position: center center;
      .profile__featured-image { // hide image if object fit is not supported - opacity to 0 for the link area
        opacity: 0;
      }
    }
  }
  &__featured-image {
    width: 100%;
    height:170px;
    object-fit: cover;
  }
}


.row-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}
.row > .col-flex {
  display: flex;
  flex-direction: column;

}

.flex-box
{
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.profile-box
{
  .well
  {
    padding: 0;
    height: 17em;
    overflow: hidden;
    .img-thumbnail
    {
      width: 100%;
    }

    figure
    {
      height: 170px;
      overflow: hidden;
      width: 100%;
    }

  }

  .caption
  {
    padding: 10px;
    h4
    {
      margin: 0;
    }

    p
    {
      margin: 0;
    }
  }
}